.action-link {
  background-color: transparent;
  color: #02aecd;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight:600;
  text-transform: uppercase;
  text-decoration: underline;
  border: none;
  cursor: pointer;

  &:hover {
    color: #018AA3;
  }
}