$highlight-color: #ff6100;
$text-color: #555555;
$background-color: #faf8f7;
$primary-button-color: #00a3e7;

.testimonial-block {
  display: flex;
  justify-content: center;
  padding: 34px 0;
  background-color: $background-color;

  & > div {
    display: flex;
    max-width: 50%;
    padding-left: 18px;
    
    div {
      color: $text-color;
      border-left: 2px solid $highlight-color; 
      padding-left: 30px;
      position: relative;

      &:before, &:after {
        position: absolute;
        border-radius: 50%;
        background-color: $highlight-color;
      }

      &:before {
        content: '\201c';
        padding: 3px 8px;
        width: 40px;
        height: 40px;
        left: -20px;
        top: -3px;
        border: 3px solid $background-color;
        color: #ffffff;
        font-family: emoji;
        font-size: 40px;
      }

      &:after {
        content: '';
        width: 10px;
        height: 10px;       
        left: -6px;
        bottom: 0;
      }

      p {
        margin-bottom: 34px;
        margin-right: 20px;
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        font-size: 20px;
      }

      span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 14px;
      }
    }

    a {
      align-self: center;
      padding: 24px 40px 23px 40px;
      border-radius: 6px;
      background-color: $primary-button-color;
      color: #ffffff;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      white-space: nowrap;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .testimonial-block > div {
    max-width: 90%;
    flex-direction: column;

    a {
      align-self: flex-start;
      margin-top: 34px;
    }
  }
}

@media (min-width: 767px) {
  .testimonial-block > div {
    max-width: 90%;
  }
}

@media (min-width: 992px) {
  .testimonial-block > div {
    max-width: 75%;
  }
}

@media (min-width: 1200px) {
  .testimonial-block > div{
    max-width: 65%;
  }
}
