.testimonial-block {
  background-color: #faf8f7;
  display: flex;
  justify-content: center;
  padding: 34px 0;

  & > div {
    max-width: 50%;
    padding-left: 18px;
    display: flex;

    div {
      color: #555555;
      border-left: 2px solid #ff6100; 
      padding-left: 30px;
      position: relative;

      &:before, &:after {
        background-color: #ff6100;
        border-radius: 50%;
        position: absolute;
      }

      &:before {
        content: '\201c';
        font-size: 40px;
        color: white;
        font-family: emoji;
        padding: 2px 8px;
        width: 40px;
        height: 40px;
        border: 3px solid #faf8f7;
        left: -20px;
        top: -3px;
      }

      &:after {
        content: '';
        width: 10px;
        height: 10px;       
        left: -6px;
        bottom: 0;
      }

      p {
        font-family: 'Roboto Slab', srif;
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 34px;
        margin-right: 20px;
      }

      span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 14px;
      }
    }

    a {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 24px 40px 23px 40px;
      background-color: #00a3e7;
      border-radius: 6px;
      color: #ffffff;
      align-self: center;
      white-space: nowrap;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .testimonial-block > div {
    max-width: 90%;
    flex-direction: column;

    a {
      align-self: flex-start;
      margin-top: 34px;
    }
  }
}

@media (min-width: 767px) {
  .testimonial-block > div {
    max-width: 90%;
  }
}

@media (min-width: 992px) {
  .testimonial-block > div {
    max-width: 75%;
  }
}

@media (min-width: 1200px) {
  .testimonial-block > div{
    max-width: 65%;
  }
}
